$bg-color: #FBFBFB;
$nav--color: #333333;
$gray-color: #BDBDBD;
$number-color: #F2F2F2;
$input-color: #F3F3F3;
$text-color: #333;
$white-color: #fff;
$placeholder-color: #8D8D8D;
$footer-color: #2C2C2C;


$screen-sm-min: 600px;
$screen-md-min: 960px;
$screen-lg-min: 1280px;

$screen-xs-max: 599px;
$screen-sm-max: 959px;
$screen-md-max: 1279px;
$screen-lg-max: 1919px;
