.contacts {
    &__block {
        margin-top: 22px;
        margin-bottom: 120px;
        &--img {
            @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
                width: 50vw;
            }
            @media (min-width: $screen-md-min) {
                width: 749px;
            }
        }
    }
    @media (min-width: $screen-sm-min){
        &__block {
            display: flex;
            flex-direction: row;
            gap: 30px;
            &--img {
                height: 369px;
                background-image: url(../img/contacts.png);
                background-position: center center;
                background-repeat: no-repeat;
                background-size: cover;
            }
        }  
    }

    form {    
        @media (max-width: $screen-xs-max) {
            width: 90vw; 
            margin: 0 auto;
        }
        @media (min-width: $screen-sm-min) {
           width: 391px; 
        }

        input::placeholder {
            color: $placeholder-color;
            font-family: TT Hoves;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            letter-spacing: 0.56px;
        }

        input:focus {
            outline: 0;
            border: 1px solid $placeholder-color;
            &::placeholder {
                color: transparent;
            }
        }

        .personal__data {
            width: 100%;
            padding: 14px 21px;
            margin-bottom: 10px;
            background-color: $input-color;
            border: 1px solid transparent;
            transition: 0.2s;
            border-radius: 3px;
        }

        .message {
            height: 147px;
            padding-bottom: 110px;
        }

        .allow {
            display: flex;
            flex-direction: row;
            gap: 10px;
            margin: 22px 0;
        }

        .arrow {
            background-color: $text-color;
            color: $white-color;
            cursor: pointer;
            border: 1px solid $text-color;
            border-radius: 3px;
            &:hover {
                color: $text-color;
                background-color: $white-color;
            }
        }
    }
}