main {
    display: flex;
    flex-direction: column;
    @media (min-width: $screen-sm-min) and ( max-width: $screen-sm-max) {
        padding: 0 45px;
        gap: 80px;
    }
    @media (min-width: $screen-md-min) and ( max-width: $screen-md-max) {
        padding: 0 80px;
        gap: 120px;
    }
    @media (min-width: $screen-lg-min) and ( max-width: $screen-lg-max) {
        padding: 0 135px;
        gap: 120px;
    }
    
    @media (max-width: $screen-xs-max) {
        gap: 20px;
        padding-top: 77px;

    }

    h2 {
        font-style: normal;
        font-weight: 300;
        color: $gray-color;
        @media (max-width: $screen-xs-max) {
            font-size: 40px;
            line-height: 40px;
            text-align: center;
        }
        @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
            font-size: 55px;
            line-height: 55px;
        }
        @media (min-width: $screen-md-min) {
            font-size: 64px;
            line-height: 64px;
        } 
    }
} 

@import "./blocks/homepage";
@import "./blocks/about";
@import "./blocks/tasks";
@import "./blocks/projects";
@import "./blocks/contacts";
