footer {
     background-color: $footer-color;
     padding-bottom: 24px;
    .footer__content {
        color: $white-color;
        @media (max-width: $screen-xs-max) {
            padding: 35px 50px; 
            display: flex;
            flex-direction: column;
            align-items:self-start;
            img {
                width: 70px;
                height: 55px;
                margin: 0 auto;
            }
        }
        @media (min-width: $screen-sm-min) and (max-width: $screen-md-max) {
            padding: 35px 30px; 
        }
        @media (min-width: $screen-lg-min) {
            padding: 58px 116px; 
        } 
        @media (min-width: $screen-sm-min) {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
    }
    
    h5 {
        font-family: TT Hoves;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    ul {
        margin-top: 24px;
        @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
           width: 160px;
        }
        li {
            list-style-type: none;
            margin-bottom: 16px;
            a {
                text-decoration: none; 
                color: $white-color;
                font-family: TT Hoves;
                font-size: 14px;
                font-style: normal;
                font-weight: 500;
                line-height: 24px; 
                letter-spacing: 0.42px;
                transition: 0.2s;
                &:hover {
                    color: $placeholder-color;
                }
            }
        }
    }
    
    .block {
        @media (max-width: $screen-xs-max){
            margin-top: 20px;
        }
    }

    .medias ul{
        display: flex;
        flex-direction: row;    
        @media (max-width: $screen-sm-max) {
           gap: 20px;
        }
         @media (min-width: $screen-md-min) {
            gap: 40px;
        }
    }

    hr {
        border: none;
        border-top: 1px solid $white-color;
    }

    p {
        margin-top: 24px;
        text-align: center;
        color: rgba(200, 200, 200, 0.50);
        font-family: Open Sans;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 22px; 
    }

}