header {
    position: fixed;
    z-index: 3;
    background-color: $white-color;
    width: 100vw;
    .wrapper {
        display: flex;
        justify-content: space-between;
		align-items: center;
        @media (min-width: $screen-sm-min) and ( max-width: $screen-sm-max) {
            padding: 0 45px;
        }
        @media (min-width: $screen-md-min) and ( max-width: $screen-md-max) {
            padding: 0 80px;
        }
        @media (min-width: $screen-lg-min) and ( max-width: $screen-lg-max) {
            padding: 0 135px;
        }
    }

    .burger {
        display: none;
    }

    .navbar {
        @media (min-width: $screen-sm-min) {
            display: flex;
            gap: 330px;
        }
		ul{
			list-style-type: none;
			@media (min-width: $screen-sm-min){
				display: flex;
				flex-direction: row;
			}
            @media (min-width: $screen-sm-min) and ( max-width: $screen-sm-max) {
                gap: 35px;
            }
            @media (min-width: $screen-md-min) and ( max-width: $screen-md-max) {
                gap: 45px;
            }
            @media (min-width: $screen-lg-min) {
                gap: 60px;
            }
		}
        .btn {
            padding: 2px;
            color: $nav--color;
            &:hover {
                color: $gray-color;
            }
        }
        .home {
            border-top: 1px solid $nav--color;
            border-bottom: 1px solid $nav--color;
        }

        .home:hover {
            border-top: 1px solid $gray-color;
            border-bottom: 1px solid $gray-color;
        }
    }

    @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
        padding: 25px 0;
    }
    @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
        padding: 29px 95px 29px 0;
    }
    @media (min-width: $screen-lg-min) and ( max-width: $screen-lg-max) {
        padding: 29px 140px 29px 0;
    }
}

@media (max-width: $screen-xs-max) {
    header{
        padding: 15px 0;
        .wrapper {
            padding: 0 15px;
        }

        .burger {
            z-index: 5;
            display: block;
            position: relative;
            width: 30px;
            height: 18px;
            cursor: pointer;
            span, &::before, &::after {
                left: 0;
                position: absolute;
                height: 10%;
                width: 100%;
                transition: 0.3s;
                background-color: $nav--color;
            }
            &::before, &::after{
                content: ""; 
            }
            &::before {
                top: 0;
            }
            &::after {
                bottom: 0;
            }
            span {
                top: 50%;
                transform: scale(1) translate(0px, -50%); 
            }
        }    

        .burger._active span{
            transform: scale(0) translate(0, -50%);
        }

        .burger._active::before {
            top: 50%;
            transform: rotate(-45deg) translate(0px, -50%);
        }

        .burger._active::after {
            bottom: 50%;
            transform: rotate(45deg) translate(0px, 50%);
        }

        .navbar {
			position: fixed;
            top: 0;
            left: -100%;
            width: 100%;
            height: 100%;
            background-color: $input-color;
            opacity: 0.9;
            padding: 100px 30px 30px 30px;
            transition: left 0.3s ease 0;
        }
            .navbar._active {
            left: 0;
        }

        ul {
            font-size: 24px;
            li {
                margin-bottom: 30px;
            }
            &:last-child {
                margin-bottom: 0;
            }
		}
    }
}

