.tasks {
    @media (max-width: $screen-xs-max) {
        padding: 0 20px;
    }
    &__block {
        display: flex;
        @media (max-width: $screen-xs-max) {
           flex-direction: column; 
        }
        @media (min-width: $screen-sm-min) {
            flex-direction: row;
        }
        @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
            gap: 60px;
        }
        @media (min-width: $screen-lg-min) {
            gap: 187px;
        } 
        
        &--section {
            display: flex;
            align-items: center;
            @media (max-width: $screen-md-max) {
                gap: 20px;
            }
            @media (min-width: $screen-lg-min) {
                margin-top: 10px;
                gap: 30px;
            } 
        }
    }

    h1 {
        color: $number-color;
        font-style: normal;
        font-weight: 900;
        line-height: normal;
        @media (max-width: $screen-sm-max) {
           font-size: 150px; 
        }
        @media (min-width: $screen-md-min) {
            font-size: 200px;
        }
    }
    p {
        color: $text-color;
        font-style: normal;
        font-weight: 400;
        display: inline-block;
        @media (max-width: $screen-sm-max) {
            line-height: 23px;
            font-size: 16px;
        }
        @media (min-width: $screen-md-min) {
            line-height: 36px;
            font-size: 22px;
            height: 150px;
        } 
    }
}